<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Exampe Twitter Backbone Example.</title>
    <link rel="stylesheet" href="/css/bootstrap.css"></link>
    <!--<link rel="stylesheet" href="/css/bootstrap.css" />-->
</head>

<body>
    <!--timeline view.-->
    <div id="timeline" class="timeline-view">
        <h2>あなたのツイート</h2>
    </div>

    <script type="text/x-handlebars-template" id="timeline-template">
        <ul>
            {{#each tweets}} <!--繰り返しを指定する組み込みヘルパー-->
            <li>
                <div>
					<!--jsonのプロパティ名と異なるのは、SpringTwitterAPIが名前を再定義しているためだと思われる-->
                    <img src="{{user.profileImageUrl}}"></img>　
                </div>
                <div>
                    <h4>{{user.name}}</h4>
                    <p>{{text}}</p>
                </div>
            </li>
            {{/each}}
        </ul>
    </script>

    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/jquery-1.11.3.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/handlebars-v4.0.2.js"></script>
    <script src="/js/lib/bootstrap.js"></script>

    <!--//TODO model＆app.js-->
    <script src="/js/model/Tweets.js"></script>
    <script src="/js/collection/Timeline.js"></script>
    <script src="/js/view/TimelineView.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>